/* on screen 450px */
@media screen and (max-width: 450px) {
    .box{
        display: block;
    }
    .new-box{
        width: 100%;
        padding: 2px !important;
    }
    .box3{
        width: 100%;
        border: 3px solid yellow;
        height: 320px;
    }
    p{
        font-size: 16px !important;
    }
    .typewriter{
        height: 46px;
        padding: 4px !important;
        margin: 0px;
        border-radius: 8px;
    }
    .typewriter span{
        font-size: 14px;
    }

  } 
