
  .app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
  
    div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
  
    //   background-color: var(--white-color);
    background-color: black;
      box-shadow: 0 0 20px rgb(233 30 99 / var(--tw-border-opacity));
  
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        pointer-events: none;
      }
    }
  
    div:nth-child(1) {
      width: 100px;
      height: 100px;
    }
    div:nth-child(2) {

      margin: 1.75rem;
      width: 150px;
      height: 150px;
      padding: 26px;

      img{
        width: 80px;
        height: 80px;
      }
    }
    div:nth-child(3) {
      width: 100px;
      height: 100px;
    }
  
    @media screen and (min-width: 2000px) {
      div:nth-child(1) {
        width: 400px;
        height: 400px;
      }
      div:nth-child(2) {
        margin: 1.75rem;
        width: 250px;
        height: 250px;
      }
      div:nth-child(3) {
        width: 200px;
        height: 200px;
      }
    }
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;
  
      div {
        margin: 1rem;
      }
    }
  }
  
  .app__header-img {
    flex: 1;
    height: 100%;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
    position: relative;
  
    img {
      width: 100%;
      object-fit: contain;
      z-index: 1;
    }
  
    .overlay_circle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
    }
  
    @media screen and (max-width: 1200px) {
      margin: 2rem 0;
    }
  }