/* on screen 450px */
@media screen and (max-width: 780px) {
 

} 

@media screen and (max-width: 600px) {

  .p-text{
    font-size: 20px !important;
    font-weight: bold;
}
.container-1{
  width: 100%;
}
.container-1 p{
  font-size: 2.6vw !important;
  padding: 22px;
}
.btn-container{
  width: 200px;
}
.btn{
  width: 200px !important;
}

} 

